<link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
<div id='nextarea'>
  <% @players.each_with_index do |player,i| %>
    <h1 id='player_<%= i+1 %>' >Player <%=player%>: <span class='clock'>0</span></h1>
  <% end %>
  <input id="next" type="button" value="next" />
</div>

<div id='pausearea'>
  <input id="pause" type="button" value="pause" />
</div>

<script src="chessclock.js" type="text/javascript"></script>

<script type="text/javascript">setUpClocks(<%= @players.length %>);</script>
