<link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
<div id='nextarea'>
  <% @players.each_with_index do |player,i| %>
    <h1 id='player_<%= i+1 %>' >Player <%=player%>: <span class='clock'>0</span></h1>
  <% end %>
  <p class='label'> Next Player </p>
</div>

<div id='pausearea'>
  <p class='label'> Start / Pause / Resume </p>
</div>

<script src="chessclock.js" type="text/javascript"></script>

<script type="text/javascript">setUpClocks(<%= @players.length %>);</script>
