<h1 id=time></h1>

<script src="timer.js" type="text/javascript"></script>

<audio id="beep" src="http://www.soundjay.com/button/beep-07.wav"></audio>

<script type="text/javascript">countDownFrom(<%= @time %>);</script>
