.active {
  color: blue;
}

h1 {
  font-size: 38;
  font-family: monospace;
}

#next-area {
  background-color: cadetblue;
  display: grid;
  height: 70.0vh;
  justify-items: center;
}

#pause-area {
  background-color: steelblue;
  display: grid;
  height: 20.0vh;
  justify-items: center;
}

.bottom-space {
  align-self: end;
  overflow: auto;
}

.middle-space {
  align-self: center;
}
