.active {
  color: blue;
}

#nextarea {
  background-color: cadetblue;
  height: 80.0vh
}

#pausearea {
  background-color: steelblue;
  height: 20.0vh;
}

.label{
  display: flex;
  align-items: center;
  justify-content: center;
}
