.active {
  color: blue;
}

#next-area {
  background-color: cadetblue;
  display: grid;
  height: 80.0vh;
  justify-items: center;
}

#pause-area {
  background-color: steelblue;
  display: grid;
  height: 20.0vh;
  justify-items: center;
}

.bottom-space {
  align-self: end;
}

.middle-space {
  align-self: center;
}
